@charset "UTF-8";
body
{padding:0;
margin: 0;}
body
{background-color: red;
}


.egg{
	position:absolute;
	left:600px; top:200px;}

.guy {left:0px;
	  top:20px;}
.apple {left:300px;
		top:425px;}

.heading {font-family:"Courier New"}

.line2 {
	position:absolute;
	font-family:"Courier New";
font-size:20px;
text-align: end;
left:600px;
	top:180px;}
.h3 {font-family:"Courier New";
	font-size:20px;
	position:absolute}
